<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/2e4f9a987e.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="../styles/main.css" /> -->
    <title>FlowFlock - Sign Up</title>
  </head>
  <body>
    <div class="main-page">
      <div class="content">
        <div class="flow-flock-intro">
          <h1>Flow Flock</h1>
        </div>
        <div class="flow-flock-joining">
          <h1>Happening Now</h1>
          <h5>Join today.</h5>
          <div class="signup-account">
            <a href="signupWithGoogle" class="signup-with">
              <span class="signup-icon-items">
                <i
                  class="fa-brands fa-google fa-xl signup-icon"
                  style="color: #d51010"
                ></i>
                Sign up with Google
              </span>
            </a>
            <a class="signup-with">
              <span class="signup-icon-items">
                <i
                  class="fa-brands fa-facebook fa-xl signup-icon"
                  style="color: #1041d5"
                ></i>
                Sign up with Facebook
              </span>
            </a>
            <div class="or">
              <div class="h-line"></div>
              <div class="">or</div>
              <div class="h-line"></div>
            </div>
            <a class="create-account">
              <span class="signup-icon-items">
                <strong>Create Account</strong>
              </span>
            </a>
            <div class="privacy-policy">
              By signing up, you agree to the
              <span class="link-detail">Terms of Service</span> and
              <span class="link-detail">Privacy Policy,</span> including
              <span class="link-detail">Cookie Use.</span>
            </div>
            <a class="already-account">
              <strong>Already have an account? </strong>
            </a>
            <a href="/signin" class="account-sign-in">
              <span class="signup-icon-items">
                <strong>Sign in</strong>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- <footer>&copy; 2024 Twitter Clone</footer> -->
  </body>
</html>
<style></style>
